<div class="message" [ngClass]="{
  'bot-message': message.sender === 'bot',
  'user-message': message.sender === 'user'
}">
  <div class="message-content">
    <p>{{message.content}}</p>
    <div *ngIf="message.audioUrl" class="audio-player">
      <!-- Bouton de lecture unique seulement -->
      <button mat-icon-button (click)="playAudio.emit(message.audioUrl)" class="play-button">
        <mat-icon>play_circle_outline</mat-icon>
        <span class="sr-only">Lire la réponse audio</span>
      </button>
      
      <!-- Supprimez l'élément audio natif -->
    </div>
  </div>
</div>