<div class="interview-container">
  <!-- Header -->
   <app-interview-header
      [jobTitle]="currentJobTitle"
      [companyName]="currentCompanyName">
    </app-interview-header>

  <!-- Conversation -->
  <!-- Conversation -->
<app-conversation
  [messages]="conversation"
  [isCurrentlyRecording]="isCurrentlyRecording">
</app-conversation>


  <!-- Controls -->
  
  <app-audio-controls 
  [isRecording]="isRecording"
  [interviewStarted]="interviewStarted"
  [isInterviewComplete]="interviewPhase === 'finished'"
  [isWaitingResponse]="isWaitingResponse"
  (toggleRecording)="toggleRecording()"
  (startInterview)="startInterview()"
   (recordingStateChanged)="onRecordingStateChanged($event)">
</app-audio-controls>
</div>