<div class="interview-container">
  <app-interview-header
    [jobTitle]="currentJobTitle"
    [companyName]="currentCompanyName"
    [currentQuestion]="currentQuestionIndex"
    [totalQuestions]="questions.length"
    [currentCategory]="getCurrentCategoryName()"
    [currentCategoryIcon]="getCurrentCategoryIcon()"
    [completedCategories]="getCompletedCategoriesCount()"
    [totalCategories]="getTotalCategoriesCount()"
    [currentQuestionInCategory]="getCurrentQuestionInCategory()"
    [totalQuestionsInCategory]="getTotalQuestionsInCategory()"
    [categories]="questionCategories">
  </app-interview-header>

  <app-conversation
    [messages]="conversation"
    [isWaitingResponse]="isWaitingResponse"
    [isCurrentlyRecording]="isCurrentlyRecording">
  </app-conversation>

  <app-audio-controls 
    [isRecording]="isRecording"
    [interviewStarted]="interviewStarted"
    [isInterviewComplete]="interviewPhase === 'finished'"
    [isWaitingResponse]="isWaitingResponse"
    [isAudioPlaying]="isAudioPlaying"
    [isRecordingAllowed]="isRecordingAllowed"
    [isReadyToStart]="isReadyToStart" 
    (toggleRecording)="toggleRecording()"
    (startInterview)="startInterview()"
    (recordingStateChanged)="onRecordingStateChanged($event)">
  </app-audio-controls>
</div>